<main>
  <section class="intro">
    <h1>This is my shpiel.</h1>
    <p>(If you're a Hesse fan, it would be ideally be my Glasperlenspiel, but alas, the real world calls.)</p>
  </section>

  <section class="about professional">
    <h2>I'm an engineer.</h2>
    <p>
      Yes, a software engineer in the most practical sense, but also an engineer of ideas.
      I love to use the tools at my disposal to imagine and create interesting things.
      I similarly love to acquire such tools as aid me in this endeavor, and am
      indeed in a place in my career where there's a lot more learning than using.
      And I think that's okay.
    </p>
  </section>

  <section class="about human">
    <h2>I'm a father.</h2>
    <p>
      Yes, a father in the literal sense. This would have been the first section
      were I to prioritize them based on importance and meaning. There is nothing
      I care about more than providing whatever (in)tangible stuffs possible to my child.
    </p>
  </section>

  <section class="about professional">
    <h2>I'm a teacher.</h2>
    <p>
      Yes, sometimes a teacher in the formal sense, but mostly for my endless pursuit
      to impart what knowledge and wisdom I may have to whomever will listen and benefit.
    </p>
  </section>

  <section class="about human">
    <h2>I'm a writer.</h2>
    <p>
      Yes, a writer in the sense that I write, yet I think there is so much more to writing.
    </p><br>
    <p>
      I am a poet of words and ideas; if engineering is construction using tools,
      poetry is also, only everything is amorphous, the rules are whatever they are set to be,
      and the goal is not something that works but simply something that <em>is</em>&mdash;a beautiful medium.
    </p><br>
    <p>
      Words yield tremendous power of expression, though inherently imperfect.
      I believe writing can be the clearest and most thorough way to collect treasures
      of words. And so, I write, for others and myself.
    </p>
  </section>
</main>
