<main>
  <section class="intro">
    <h1>This is my shpiel.</h1>
  </section>

  <section class="about professional">
    <h2>I'm an engineer.</h2>
    <p>
      Yes, a software engineer in the most practical sense, but also an engineer of ideas.
      I enjoy using the tools at my disposal to imagine and create interesting things.
      I also enjoy acquiring these tools, and am indeed in a place in my career
      where there's a lot more learning than using. And I think that's okay.
    </p>
  </section>

  <section class="about human">
    <h2>I'm a father.</h2>
    <p>
      This would have been the first section were I to prioritize them based on importance and meaning.
      There is nothing more integral to me than caring for my daughter.
    </p>
  </section>

  <section class="about professional">
    <h2>I'm a teacher.</h2>
    <p>
      I have been at various times a classroom teacher and a personal tutor; I love
      to impart whatever knowledge or wisdom I can to whomever may benefit.
    </p>
  </section>

  <section class="about human">
    <h2>I'm a writer.</h2>
    <p>
      There is so much more to writing than haphazardly tossing words onto a medium.
    </p><br>
    <p>
      I communicate best through writing. Words yield tremendous power of expression, though inherently imperfect.
      I believe writing can be the clearest and most thorough way to transmit thought&mdash;when done well&mdash;
      and I strive to do it well.
    </p><br>
    <p>
      I am also a poet of words and ideas; if engineering is construction using tools,
      poetry is also, only the rules are whatever they are set to be rather than physical laws.
    </p>
  </section>
</main>
