aniso8601==7.0.0
apipkg==1.5
atomicwrites==1.3.0
attrs==19.1.0
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
execnet==1.6.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
gunicorn==19.9.0
httplib2==0.12.1
idna==2.8
itsdangerous==1.1.0
MarkupSafe==1.1.1
more-itertools==7.0.0
oauth2client==4.1.3
oauthlib==3.0.1
pep8==1.7.1
Pillow==6.0.0
pluggy==0.9.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyAutoGUI==0.9.42
pycparser==2.19
PyGetWindow==0.0.4
PyMsgBox==1.0.6
PyRect==0.1.4
PyScreeze==0.1.20
pytest==4.4.0
pytest-cache==1.0
pytest-pep8==1.0.6
PyTweening==1.0.3
pytz==2019.1
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
SQLAlchemy==1.3.5
uritemplate==3.0.0
urllib3==1.24.1
Werkzeug==0.15.4
