@import "../../assets/variables";

main {
  @extend %light;

  #contact {
    text-align: center;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    img {
      border-radius: 50%;
    }
    a {
      @extend %dark-hover;
      display: block;
      padding: 1em;
      margin: 1em auto 1em auto;
      width: 200px;
      text-decoration: none;

      &#github {
        margin-bottom: 0;
      }
    }
  }
}
