<main>
  <section class="intro">
    <h1>I know my way around.</h1>
  </section>

  <section id="cards">
    <article class="card">
      <h3>Desktop</h3>
      <p>
        Being proficient in both Java SE and Python, I can efficiently write a script or larger
        desktop program to suit a client's needs. For example, I wrote a couple of
        automation programs for the New Jersey Public Power Authority, deployed as
        Windows executable files for ease of use. I can't share the source code because
        I licensed usage rights to the NJPPA, but reach out if you want to know more.
      </p>
    </article>

    <article class="card">
      <h3>Web</h3>
      <p>
        I have designed and developed this site and a portion of another one (unfinished
        and therefore unpublished). Despite my lack of published work, I have a solid
        knowledge of HTML, CSS, and JS, and am comfortable working with Angular on the
        front end and am familiar (though less so) with both Flask and Express on the back end.
        I've also served as Webmaster for a couple sites and my general knowledge of
        the web and the internet is a solid foundation.
      </p>
    </article>

    <article class="card">
      <h3>IT</h3>
      <p>
        In addition to troubleshooting friends' computer problems, I currently
        serve as part-time IT Director for Yeshiva Ohr Yisrael High School, and
        consult for Sparta Dental Arts in NJ, where I diagnosed and fixed a recurring
        server connection issue and am working on improving the network wiring.
      </p>
    </article>

    <article class="card">
      <h3>Android</h3>
      <p>
        In an effort to expand my horizons, I'm currently learning Android and
        developing my first couple of apps, the first being a Minesweeper game
        that I hope to add complexity to over time after I publish the basic version.
      </p>
    </article>

    <article class="card">
      <h3>Research</h3>
      <p>
        My research partner and I modeled the spread of the Zika virus
        using network science and Monte Carlo simulations (among other tools).
        The effects of population demographics and seasonal mosquito populations
        were the primary targets of study.
      </p>
    </article>

    <article class="card">
      <h3>Teaching and Tutoring</h3>
      <p>
        I have taught high school courses in computer science and math, and have
        been tutoring in some capacity since I was in high school in a variety of subjects,
        including computer science, math, writing, test prep, and several topics in Judaic
        studies, in a wide range of levels.
      </p>
    </article>

    <article class="card"><a href="https://github.com/joshualblau">
      <h3>Github</h3>
      <p>
        In addition to working on my own projects, I would love to contribute to more
        open-source stuff that I find interesting and/or important, something
        I'm trying to start doing more of.
        I'm also trying to display more of what I've done, so keep a lookout.
      </p>
    </a></article>
  </section>
</main>
