<main>
  <section class="intro">
    <h1>I've done some things.</h1>
  </section>

  <section id="cards">
    <article class="card" id="github"><a href="https://github.com/joshualblau">
      <h3>Github</h3>
      <p>
        In addition to my own projects, I'm trying to contribute to more
        open-source stuff that I find interesting and/or important.
        I'm also trying to display more of what I've done, so keep a lookout.
      </p>
    </a></article>

    <article class="card" id="njppa">
      <h3>NJPAA</h3>
      <p>
        I wrote a couple automation programs for the New Jersey Public Power
        Authority. I can't share the source code because I licensed the rights
        to use the programs to the NJPPA, but reach out if you want to know more!
      </p>
    </article>

    <article class="card" id="research">
      <h3>Research</h3>
      <p>
        My research partner and I modeled the spread of the Zika virus
        using network science and Monte Carlo simulations. The effects of
        population demographics and seasonal mosquito populations
        were the primary targets of study. Coming soon to a Github near you!
      </p>
    </article>

    <article class="card" id="yoy">
      <h3>Yeshiva Ohr Yisrael</h3>
      <h4>Teaching</h4>
      <p>
        Web development and the inner workings of the internet;
        introductory programming using python; user interface design and
        project planning; Algebras I && II; Hebrew.
        I taught a handful of different subjects.
      </p>
      <h4>IT</h4>
      <p>
        I currently serve as the director of IT and website manager.
        Obviously this entails a variety of responsibilities, but essentially
        &mdash;I'm in charge of anything and everything technical.
      </p>
    </article>

    <article class="card" id="projects">
      <h3>Projects</h3>
      <p>
        It can be hard to find time to work on my own things while
        helping to take care of my daughter, but, other than this website,
        I try to always have a project to progress. I'm currently initiating
        an arcade suite project (not all inherently arcade games, just classics).
      </p>
    </article>
  </section>
</main>
