@import "assets/variables";

section.intro {
  @extend %strong;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 0;
  width: 100%;
  h1 {
    text-transform: lowercase;
    font-size: 2.5em;
  }
}

h1, h2 {
  margin: 0;
}

main {
  margin: 0; padding: 0;
  width: 100%;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
